@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "../src/components/_components.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/* chrome */
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
/* firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgray;
}

@layer base {

  body {
    font-family: 'Josefin Sans', sans-serif;
    @apply bg-mainBg-500 text-white;
  }
}

@layer components {

  /* to disapear the blue highligting on mobile ontouch */
  .no-select-a-tag {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .no-select-a-tag:focus {
    outline: none !important;
  }


}
